{% extends 'base.html.twig' %}

{% block title %}Hello BlogCreationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/monsif/Desktop/EPSI-cours/B2-2021-2022/PHP/projet/blog/src/Controller/BlogCreationController.php'|file_link(0) }}">src/Controller/BlogCreationController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/monsif/Desktop/EPSI-cours/B2-2021-2022/PHP/projet/blog/templates/blog_creation/index.html.twig'|file_link(0) }}">templates/blog_creation/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
